@font-face {
  font-family: 'Harry';
  src: url('../font/harry.TTF');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("../img/fondo.webp");
  background-position: center;
  background-size: cover;
  color: white;
}

.main {
  min-height: 75vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Harry', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.back {
  font-size: 1.5rem;
  margin-bottom: 20px;
  cursor: pointer;
  display: inline-block;
  transition: all 200ms;
}

.back:hover {
  color: cornsilk;
}

.back::before {
  padding-right: 5px;
  content: "⬅";
}

.loaderComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

@media (min-width: 1904px) {
  .container {
    max-width: 1185px !important;
  }
}
